@tailwind base;
@tailwind components;

html, body{
    padding:0;
    margin:0;
    background-color: #386C0B;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

*{
    box-sizing: border-box
}

:root{
    font-size: 16px;
}

.voting{
    background-image: url(images/vote.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: screen;
}

.menu{
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    transform: translateY(-200%);
    transition: transform 0.3s;
}

.show-menu{
    transform: translateY(0)
}

@media only screen and (max-width:768px){
    :root{
        font-size: 12px
    }
}


@media screen and (min-width: 1280px) {
    .pic{
        width: 4rem;
        height: 4rem;
    }
    .ib{
        font-size: 20px;
    }

    .it{
        font-size: 18px;
    }
    .test{
        font-size: 20px;
    }
    .large{
        width: 60%;
    }
}

@media screen and (max-width: 334px) {
    .green{
        height: 0.8rem;
    }
}
@tailwind utilities;