@tailwind base;
@tailwind components;

html, body{
    padding:0;
    margin:0;
    background-color: #386C0B;
}

*{
    box-sizing: border-box
}

.menu{
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    transform: translateY(-200%);
    transition: transform 0.3s;
}

.show-menu{
    transform: translateY(0)
}

@media screen and (min-width: 1280px) {
    .pic{
        width: 4rem;
        height: 4rem;
    }
    .ib{
        font-size: 20px;
    }

    .it{
        font-size: 18px;
    }
    .test{
        font-size: 20px;
    }
    .large{
        width: 60%;
    }
}
@tailwind utilities;